<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Todos</title>
		<style>
			table {
			  border-collapse: collapse;
			  border-spacing: 0;
			  width: 100%;
			  border: 1px solid #ddd;
			}

			th, td {
			  text-align: left;
			  padding: 16px;
			}
			
			tr:nth-child(even) {
			  background-color: #f2f2f2;
			}
		</style>
	</head>
	<body>
		<h2 th:text="${title}"></h2>
		
		
		<table>
			<tr>
				<th>Name</th>
				<th>Creator</th>
				<th>Creation Date</th>
				<th>Done</th>
			</tr>
			<tr th:each="item: ${todos}">
				<td th:text="${item.name}"></td>
				<td th:text="${item.creator}"></td>
				<td th:text="${item.creationDate}"></td>
				<td th:text="${item.done}"></td>
			</tr>
		</table>
		
		<div style="margin: 100px;">
		  <img style="width: 100px;" th:src="${image}" ></img>
		</div>
		
		<div style="margin: 100px;">
		  <img style="width: 200px;" th:src="${barcode}" ></img>
		</div>
	</body>
</html>